In [183]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
% matplotlib inline
from datetime import date
import calendar

In [184]:
# importe les données dans un dataframe
birth_df = pd.read_csv("birth.csv", sep=",")

In [246]:
birth_df.head(3)

   year  month  day gender  births
0  1969      1  1.0      F    4046
1  1969      1  1.0      M    4440
2  1969      1  2.0      F    4454

In [186]:
# élimination des lignes dont les années ne sont pas entre 1900 et 2019

# élimination des lignes dont les mois ne sont pas compris entre 1 et 12

# élimination des lignes dont les jours ne sont pas compris entre 1 et 31

   year  month  day gender  births
0  1969      1  1.0      F    4046
1  1969      1  1.0      M    4440
2  1969      1  2.0      F    4454
3  1969      1  2.0      M    4548
4  1969      1  3.0      F    4548
5  1969      1  3.0      M    4994
6  1969      1  4.0      F    4440
7  1969      1  4.0      M    4520
8  1969      1  5.0      F    4192
9  1969      1  5.0      M    4198

In [187]:
s.where(s > 0)

Index(['year', 'month', 'day', 'gender', 'births'], dtype='object')

In [188]:
birth_df.year.unique() # sort une liste des années uniques

array([1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979,
       1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990,
       1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001,
       2002, 2003, 2004, 2005, 2006, 2007, 2008], dtype=int64)

In [244]:
# Calcule le nombre de valeurs qui ne sont pas des nombres dans les colonnes
print(np.sum(pd.isna(birth_df.year.values)),len(birth_df.year.values), birth_df.year.values.dtype)
print(np.sum(pd.isna(birth_df.month.values)),len(birth_df.month.values), birth_df.month.values.dtype)
print(np.sum(pd.isna(birth_df.day.values)),len(birth_df.day.values), birth_df.month.values.dtype)

0 15547 int64
0 15547 int64
480 15547 int64

In [190]:
df = pd.DataFrame({'year': [2015, 2016],'month': [2, 3],'day': [4, 5]})
pd.to_datetime(df)

0   2015-02-04
1   2016-03-05
dtype: datetime64[ns]

In [243]:
temp = birth_df.fillna(value={"day": 0}).day.values
temp = temp
birth_df.fillna(value={"day": 0}).day.unique()

array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12., 13.,
       14., 15., 16., 17., 18., 19., 20., 21., 22., 23., 24., 25., 26.,
       27., 28., 29., 30., 31., 99.,  0.])

In [240]:
len(birth_df.day.values)

15547

In [241]:
# Crée une dataframe contenant les données pour former les dates
#date_df = pd.Dataframe({'year': birth_df.year.values,'month': birth_df.month.values,'day': birth_df.day.values})
date_df = pd.DataFrame({'year': birth_df.year.values,'month': birth_df.month.values, 'day': birth_df.fillna(value={"day": 0}).day.values})

#date_df.head(10)
date_tab = pd.to_datetime(date_df,infer_datetime_format=True)
date_df

ValueError: cannot assemble the datetimes: 'float' object is unsliceable

In [227]:
my_date = date.today()
print(my_date)
print(my_date.weekday())
print(calendar.day_name[0])
jours_tab = [calendar.day_name[date_tab[i].weekday()] for i in range(len(date_tab))]
jours_df = pd.DataFrame(jours_tab, columns = ['day_week'])

2019-03-08
4
Monday

In [219]:
birth_df_bis = pd.concat([birth_df, jours_df], 1)
#mask1 = birth_df_bis['day_week']=='Friday'
mask2 = birth_df_bis['year']==1982
mask3 = birth_df_bis['month']==6
mask4 = birth_df_bis['day']==11
birth_df_bis[mask2][mask3][mask4]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

       year  month   day gender  births day_week
10207  1982      6  11.0      F    5159   Sunday
10208  1982      6  11.0      M    5470   Sunday

In [ ]:
birth_df_bis.groupby

In [ ]:

pan_vnon80 = fam_pan_df[fam_pan_df["ventre"]]